/* General */
  p { font-size: 1.3rem; }
  @media screen and (max-width:576px) {
    p { font-size: 0.9rem; }
  }

  .bold { 
    font-weight: bold; 
  }
  a {
     text-decoration: none;
     text-transform: uppercase; 
     border: none;
     border-radius: 5px;
     padding: 5px 10px;
     cursor: pointer;
     font-size: 0.9rem;
  }

  .teaser { 
    background-color: darkblue;
    color: #fff;
  }

  a.teaser:hover {
    background-color: rgba(3, 3, 104, 0.329);
    text-decoration: none;
 }
 
  .z-1 {
    z-index: 1;
  }
  .z-2 {
    z-index: 2;
  }
  
  .teaser-stick {
    position: relative;
    overflow: hidden;
   }
  .teaser-stick:hover .teaser-overlay {
    bottom: 0%;
  }
  .teaser-overlay {
    position: absolute; 
    bottom: -100%;
    display: table-cell;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.7); /* TBD ! */
  }
  
  /* Teaser Auto */
  .teaser-auto .teaser-txt {
    color: #fff;
    width: 70%;
  }
  .teaser-auto a { 
    color: #fff;
  }  