.calculator {
    flex: 0 0 95%;
}

.screen {
    width: calc(100% - 1rem);
    font-size: 3rem;
    padding: 0.5rem;
    background: #7c9694;
    color: white;
    border: none;
    border-radius: 0px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.calc button {
    flex: 0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
}

.calc button:hover {
    background: #7f933b;
}

.calc button:focus {
    border: 1px solid black;
    outline: none;
}

.btn-green {
    background: #343e3c;
    color: white;
}

.btn-grey {
    background: rgb(224, 224, 224);
}

.btn,
.btn-equal,
.btn-clear {
    font-size: 3rem;
}

.btn-equal {
    background: #7f933b;
}

.calc .btn-equal:hover {
    background: #d71a00;
}

.btn-clear {
    background: #d71a00;
}