.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sale_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.sale_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sale_container .box {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    margin: .65%;
    background-color: white;
}

.sale_container .detail-box {
    padding: 12px;
    position: relative;
}

.sale_container .box .img-box img {
    width: 100%;
}

.sale_container h6 {
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
}

.filter-buttons .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-buttons .button-selected {
    background-color: #343e3c;
    color: #FFFFFF;
}

.filter-buttons .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-buttons .btn-group>.btn:first-child {
    margin-left: 0;
    float: left;
    margin-right: 4px;
}

.filter-buttons .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.filter-buttons .btn-group .btn+.btn,
.filter-buttons .btn-group .btn+.btn-group,
.filter-buttons .btn-group .btn-group+.btn,
.filter-buttons .btn-group .btn-group+.btn-group {
    margin-left: -4px;
}

.filter-buttons .btn-group>.btn:last-child:not(:first-child),
.sale_container .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hide-Box {
    display: none;
}

.link-hotel {
    background-color: #d71a00;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-bottom: 12px;
    font-size: 15px;
}

.link-hotel:hover {
    background-color: #343e3c;
}

.pricebox {
    position: absolute;
    top: -35px;
    background-color: #ffbe30;
    padding: 8px;
    text-align: center;
    color: #FFFFFF;
}