.input {
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: 1.6rem;
    padding: .4rem .8rem;
}

.checkbox {
    width: 30px;
}

.checkbox>input {
    margin-right: .4rem;
}

.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #5F3A87;
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6E6E6E;
}

.button--text {
    background: none;
    border: none;
    color: #ffffff;
    background-color: gray;
}

.button--text:hover {
    background: red;
    color: white;
}

#todo-form input {
    background-color: #fbfbfb;
}

.todo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

todo li {
    font-family: oswald, arial, sans-serif;
    list-style: none;
}

.todo h2 {
    color: #ffffff;
    font-family: oswald, arial, sans-serif;
    letter-spacing: 0px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    color: #343e3c;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}


/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #7f933b;
    color: #fff;
    text-decoration: line-through;
    border-bottom: 1px solid #eee;
}


/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #d71a00;
    color: white;
}


/* Style the header */
.todo .header {
    background-color: #343e3c;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.todo .header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.todo input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 12px;
    float: left;
    font-size: 16px;
}

.todo input:focus {
    outline: none;
    background: #FFFFFF;
}

/* Style the "Add" button */
.todo #addBtn {
    padding: 10px;
    width: 18%;
    background: #d71a00;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.todo #addBtn:hover {
    background-color: #bbb;
}