.weather {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.weather-outer .current {
    display: flex;
    flex-flow: row wrap;
    color: white;
    padding: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 33px;
}

.weather-outer .current .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 2;
}

.weather-outer .current .info .city {
    font-size: 26px;
}

.weather-outer .current .info .city small {
    color: #ffffff;
    font-family: oswald, arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
}

.weather-outer .current .info .temp {
    font-size: 86px!important;
}

.weather-outer .current .info .wind {
    font-size: 24px;
}

.weather-outer .current .info .wind small {
    color: #ffffff;
    font-family: oswald, arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
}

.weather-outer .current .icon {
    text-align: center;
    font-size: 64px;
    flex-grow: 1;
}

.weather-outer .current .icon img {
    background-color: #c3c3c3;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50%;
}

.weather-outer .future {
    display: flex;
    flex-flow: row nowrap;
}

.weather-outer .future .day {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.weather-outer .future .day h3 {
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}

.weather-outer .future .day p {
    font-size: 19px;
    color: #ffffff
}

.weather .header {
    background-color: #343e3c;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.weather h2 {
    color: #ffffff;
    font-family: oswald, arial, sans-serif;
    letter-spacing: 0px;
}

.weather input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 12px;
    float: left;
    font-size: 16px;
}

.weather input:focus {
    outline: none;
    background: #FFFFFF;
}

.weather .addBtn {
    padding: 10px;
    width: 18%;
    background: #d71a00;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.weather .addBtn:hover {
    background-color: #bbb;
}

.weather-outer {
    background-color: #3f5661;
    padding: 20px 40px;
}