#content {
    background-color: #fff;
    border: 3px double #31373f;
    color: #31373f;
    display: inline-block;
    padding: 30px 50px;
    margin: 20px auto 50px auto;
    max-width: 580px;
    min-height: 4em;
    overflow: auto;
    text-align: left;}

#cost, .action {
    background-color: #f84c53;
    color: #fff;
    width: auto;
    height: 1 em;
    padding: 0.5em 0.75em;
    float: right;}

#cost {
    position: relative;
    top: 1em;
    right: 2em;}

.action {
    position: relative;
    top: 1.3em;
    right: -2.3em;}

table {
    margin: 20px 100px 0px 100px;}

tr td:first-child {
    font-weight: bold;
    padding-right: 20px;}