

#page-einkaufsliste {
	background-color: #403c3b;
	margin: 0 auto 0 auto;}
	/* Responsive page rules at bottom of style sheet */



#page-einkaufsliste h2 {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: 0 0 23px 0;
	padding-top: 10px;
}

#page-einkaufsliste h2 span {
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	font-size: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -5px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  padding: 4px 0 0 4px;}

#page-einkaufsliste ul {
	background-color: #584f4d;
	border:none;
	padding: 0;
	margin: 0;}

#page-einkaufsliste li {
	background-color: #ec8b68;
	color: #fff;
	border-top: 1px solid #fe9772;
	border-bottom: 1px solid #9f593f;
	font-size: 24px;
	letter-spacing: .05em;
	list-style-type: none;
	text-shadow: 2px 2px 1px #9f593f;
	height: 50px;
	padding-left: 1em;
	padding-top: 5px;
}

	#page-einkaufsliste .hot {
	background-color: #d7666b;
	color: #fff;
	text-shadow: 2px 2px 1px #914141;
	border-top: 1px solid #e99295;
	border-bottom: 1px solid #914141;}

	#page-einkaufsliste .cool {
	background-color: #6cc0ac;
	color: #fff;
	text-shadow: 2px 2px 1px #3b6a5e;
	border-top: 1px solid #7ee0c9;
	border-bottom: 1px solid #3b6a5e;}

	#page-einkaufsliste .complete {
    background-color: #999;
	color: #fff;
	background-image: url("../06.1-einkaufsliste/images/icon-trash.png");
	background-position: center right;
	background-repeat: no-repeat;
	border-top: 1px solid #666;
	text-shadow: 2px 2px 1px #333;}

#page-einkaufsliste li a {
	color: #fff;
	text-decoration: none;
	background-image: url("../06.1-einkaufsliste/images/icon-link.png");
	background-position: center right;
	background-repeat: no-repeat;
    padding-right: 36px;}

#page-einkaufsliste p {
	color: #403c3b; 
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin: 20px auto 20px auto;
	min-width: 20%; 
	max-width: 80%; }

#errorVorname,#errorNachname {
	color: red;
	font-weight: bold;
}

